# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build / coverage
dist/
build/
coverage/

# Cache
.cache/
.npm/
.eslintcache

# Uploads / temp files
uploads/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Optional: database dumps
*.sql
*.dump

/generated/prisma
